:root {
    --color-primary: #004445;
    --color-secondary: #2c786c;
    --color-tertiary: #faf5e4;
    --color-quaternary: #f8b400;
}

.navbar {
    background-color: var(--color-quaternary);
}

.navbar-brand,
.nav-link {
    color: var(--color-primary);
}

body {
    background: var(--color-primary);
    color: var(--color-quaternary);
    /* text-shadow: 0px 0px 1px black; */
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-style: italic;
}

.home__table th,
.home__table td,
.home__table tr,
.admin__table th,
.admin__table td,
.admin__table tr {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}
a {
    color: var(--color-quaternary);
    text-decoration: none;
}

a:hover {
    color: var(--color-secondary);
    text-decoration: none;
}

td,
th {
    vertical-align: middle !important;
}
td div {
    background-size: cover;
    width: 60px;
    height: 60px;
}

.register__btn,
.login__btn,
.data__btn-update,
.data__btn-delete {
    background-color: var(--color-quaternary);
}
.register__btn:hover,
.login__btn:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

.data__btn-update:hover {
    background-color: #071952;
    color: var(--color-tertiary);
}
.data__btn-delete:hover {
    background-color: #ff0000;
    color: var(--color-tertiary);
}

.home__td-img {
    width: 200px;
}

.home__img {
    width: 50%;
}

input {
    text-align: center;
}
